# Importing LIbraries

In [16]:
import pandas as pd

# Importing data

In [17]:
Tweet_Sent = pd.read_csv(r"C:\Users\vella\Desktop\Praju\College\Projects\Final year\Data\Tweet_Sent.csv")
News_Sent = pd.read_csv(r"C:\Users\vella\Desktop\Praju\College\Projects\Final year\Data\News_Sent.csv")

In [18]:
Tweet_Sent

           Date  compound
0    2021-09-30  0.213078
1    2021-10-01  0.224785
2    2021-10-02  0.255568
3    2021-10-03  0.257956
4    2021-10-04  0.106842
..          ...       ...
360  2022-09-25  0.119892
361  2022-09-26  0.170785
362  2022-09-27  0.192374
363  2022-09-28  0.143788
364  2022-09-29  0.065639

[365 rows x 2 columns]

In [19]:
News_Sent

           Date  compound
0    2021-09-30    0.0000
1    2021-10-02    0.0000
2    2021-10-03   -0.0772
3    2021-10-05   -0.1308
4    2021-10-06   -0.3400
..          ...       ...
211  2022-09-20    0.0000
212  2022-09-21    0.0000
213  2022-09-24    0.0000
214  2022-09-29    0.0000
215  2022-09-30    0.0000

[216 rows x 2 columns]

In [20]:
print(type(Tweet_Sent.Date[0]))

<class 'str'>

# Converting str to datetime format

In [21]:
Tweet_Sent['Date'] = pd.to_datetime(Tweet_Sent['Date'])

In [22]:
Tweet_Sent.sort_values(by='Date')

          Date  compound
0   2021-09-30  0.213078
1   2021-10-01  0.224785
2   2021-10-02  0.255568
3   2021-10-03  0.257956
4   2021-10-04  0.106842
..         ...       ...
360 2022-09-25  0.119892
361 2022-09-26  0.170785
362 2022-09-27  0.192374
363 2022-09-28  0.143788
364 2022-09-29  0.065639

[365 rows x 2 columns]

In [23]:
News_Sent['Date'] = pd.to_datetime(News_Sent['Date'])

In [24]:
News_Sent.sort_values(by='Date')

          Date  compound
0   2021-09-30    0.0000
1   2021-10-02    0.0000
2   2021-10-03   -0.0772
3   2021-10-05   -0.1308
4   2021-10-06   -0.3400
..         ...       ...
211 2022-09-20    0.0000
212 2022-09-21    0.0000
213 2022-09-24    0.0000
214 2022-09-29    0.0000
215 2022-09-30    0.0000

[216 rows x 2 columns]

# Combininig dataframe

In [25]:
Comb = pd.merge(Tweet_Sent, News_Sent, how='outer', on='Date')

In [26]:
Comb

          Date  compound_x  compound_y
0   2021-09-30    0.213078      0.0000
1   2021-10-01    0.224785         NaN
2   2021-10-02    0.255568      0.0000
3   2021-10-03    0.257956     -0.0772
4   2021-10-04    0.106842         NaN
..         ...         ...         ...
361 2022-09-26    0.170785         NaN
362 2022-09-27    0.192374         NaN
363 2022-09-28    0.143788         NaN
364 2022-09-29    0.065639      0.0000
365 2022-09-30         NaN      0.0000

[366 rows x 3 columns]

In [27]:
Comb = Comb.fillna(0)

In [28]:
Comb

          Date  compound_x  compound_y
0   2021-09-30    0.213078      0.0000
1   2021-10-01    0.224785      0.0000
2   2021-10-02    0.255568      0.0000
3   2021-10-03    0.257956     -0.0772
4   2021-10-04    0.106842      0.0000
..         ...         ...         ...
361 2022-09-26    0.170785      0.0000
362 2022-09-27    0.192374      0.0000
363 2022-09-28    0.143788      0.0000
364 2022-09-29    0.065639      0.0000
365 2022-09-30    0.000000      0.0000

[366 rows x 3 columns]

# Saving as csv

In [29]:
#Comb.to_csv("Comb_Sent.csv")